.education{
    background: #031540;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding-left: 20px;
    margin-top: -30px;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
}

.education-row .education-column{
    flex:1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin:0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid #00abf0;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top:0;
    left:-1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background:red;
    z-index: -1;
    transition: -5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
}

.education-content .content .year{
    font-size: 1.5rem;
    color:#00abf0;
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content .year h3{
    font-size: 2rem;
}

.education-content .content .year p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
