<section class="education" id="education">
    <h1 class="heading" style="color: white;font-size:35px">My <span>Journey</span></h1>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-graduation'>&nbsp;&nbsp;2019 - 2023</i></div>
                                    <h3>Graduate Degree - Nagpur University</h3>
                                    <p>College: KDK College of Engineering</p>
                            </div>
                        </div>

                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class='bx bxs-calendar' >&nbsp;&nbsp;2017 - 2019</i></div>
                                        <h3>HSC - Maharashtra State Board</h3>
                                        <p>College: Baba Nanak Junior College
                                        </p>
                                </div>
                            </div>

                            <div class="education-content">
                                <div class="content">
                                    <div class="year"><i class='bx bxs-calendar' >&nbsp;&nbsp;2016 - 2017</i></div>
                                            <h3>SSC - Maharashtra State Board</h3>
                                            <p>School: Pakwasa High School
                                            </p>
                                    </div>
                                </div>

                    </div>
                </div>



                <div class="education-column">
                    <h3 class="title">Certifications</h3>

                    <div class="education-box">
                        <div class="education-content">
                            <div class="content">
                                <div class="year"><i class='bx bx-certification' >&nbsp;&nbsp;Angular UI Designer</i></div>
                                       <p>Proficient in crafting visually appealing and user-friendly interfaces using Angular framework.</p>
                                </div>
                            </div>

                            <div class="education-content">
                                <div class="content">
                                    <div class="year"><i class='bx bx-certification' >&nbsp;&nbsp;Angular Frontend Developer</i></div>
                                            <p>Skilled in implementing dynamic and responsive frontend solutions with Angular, ensuring seamless user experiences.
                                            </p>
                                    </div>
                                </div>

                                <div class="education-content">
                                    <div class="content">
                                        <div class="year"><i class='bx bx-certification'>&nbsp;&nbsp;Java FullStack Developer</i></div>
                                                <p>Experienced in developing end-to-end applications using Java for backend and frontend technologies, adept in both server-side and client-side development.
                                                </p>
                                        </div>
                                    </div>

                                    <div class="education-content">
                                        <div class="content">
                                            <div class="year"><i class='bx bx-certification'>&nbsp;&nbsp;NPTEL Certification - DataBase Management System</i></div>
                                                    <p>NPTEL DBMS (Database Management System) course covers fundamental concepts and practical applications in managing data effectively using database systems.
                                                    </p>
                                            </div>
                                        </div>

                        </div>
                    </div>
            </div>

</section>