.about {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: #031540;
    height: 100vh;
}
.about-img img{
    width: 500px;
    height: 350px;
    border-radius: 8px;
    padding-top: 50px;
    max-width: 680px;
    float: right;
}

.about-text{
    margin-left: 30px;
}

.about-text h2{
    font-size: 60px;
    color: white;
}

.about-text h2 span{
    color:#00abf0;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color:aliceblue;
    font-size: 1.4;
    margin-bottom: 4rem;
}

.btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color:#fff;
    text-decoration: none;
    font-weight:600;
    letter-spacing:1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}
