<section class="about" id="about">
    <div class="about-text">
        <h2>About <span>Me</span></h2>
        <h4>FrontEnd Developer</h4>
        <p>I am a skilled Angular Developer. I bring expertise in building dynamic and interactive web applications. 
            With a deep understanding of Angular frameworks and libraries, I deliver robust frontend solutions that enhance
            user engagement and streamline workflows. My focus on clean code and efficient architecture ensures scalable and 
            maintainable applications.
        </p>

        <a href="#projects" class="btn">More About Me</a>
    </div>
    <div class="about-img">
       <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/1.jpeg" alt="Los Angeles" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/2.webp" alt="Chicago" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/3.jpg" alt="New York" class="d-block" style="width:100%">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
    </div>
    
</section>