<div class="navbar">
    <div class="logo">
        <a>Profile</a>
    </div>
    <ul class="nav-links">
        <li><a>Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Project</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
