.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color:#122e42;
    color:white;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
}

.logo{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color:#fff;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #ffcc00;
    cursor: pointer;
}