.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  

  h2{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color:white;
  }

  #projects {
    background-color: #031540;
    margin-top: -30px;
  }
  
  .project {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    width: calc(25% - 20px); /* Adjust according to your preference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project img {
    max-width: 40%;
    border-radius: 5px;
  }
  
  .project h3 {
    margin-top: 10px;
    color: #00abf0;
    font-size: 25px;
  }

  .project h3:hover{
    color:brown;
  }
  
  .project p {
    margin-bottom: 10px;
    text-align: center;
    color:black;
    font-size: 12px;
    font-family: 'Poppins';
  }
  
  .project a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .project a:hover {
    background-color: #555;
  }

  .btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color:#fff;
    text-decoration: none;
    font-weight:600;
    letter-spacing:1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}