<section id="projects">
    <h2>My Angular Projects</h2>
    <br>
  <div class="container">
    <div class="project">
      <img src="../assets/images/pro1.jfif" alt="Project 1" />
      <h3>Rental System</h3>
      <p>The Rental System project aims to develop a comprehensive platform that facilitates the management and rental of 
        various items or assets. Whether it's equipment, vehicles, real estate properties, or any other tangible assets,
         this system provides a centralized solution for both renters and owners to streamline the rental process.
      </p>
    </div>

    <div class="project">
      <img src="../assets/images/pro2.jfif" alt="Project 2" />
      <h3>Employee Management</h3>
      <p>The Employee Management System is a comprehensive software solution designed to streamline and automate various 
        aspects of employee administration within an organization. From maintaining employee records to managing leave 
        requests and performance evaluations, this system provides a centralized platform for HR personnel and managers 
        to efficiently handle all employee-related tasks.</p>
    </div>

    <div class="project">
      <img src="../assets/images/pro31.jfif" alt="Project 3" />
      <h3>Food Order System</h3>
      <p>The Food Order System is a web-based application designed to simplify the process of ordering food from restaurants 
        and managing orders for both customers and restaurant owners. This platform provides an intuitive interface for users
         to browse menus, place orders, track delivery status, and manage restaurant operations efficiently.</p>
    </div>

    <div class="project">
      <img src="../assets/images/pro4.jfif" alt="Project 4" />
      <h3>Ticket Booking System</h3>
      <p>The Ticket Booking System is a web-based application designed to facilitate the booking and management of tickets for 
        various events, including concerts, movies, sports games, and theater shows. This platform offers users a convenient and 
        efficient way to browse upcoming events, reserve tickets, make payments, and receive electronic tickets for admission.
    </p>
    </div>

    
    <!-- Add more project divs as needed -->
  </div>
</section>
