<section class="contact" id="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p>For more query contact us
        </p>
    </div>

    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class='bx bxs-map'></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>Juni Mangalwari, <br>Telephone Exchange Square,<br>Nagpur - 440008.</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class='bx bxs-phone' ></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>774-498-3086</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class='bx bx-envelope' ></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>vijayapaunikar2001@gmail.com</p>
                </div>
            </div>

        </div>

        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type your Message...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>