<section class="skills" id="skills">
    <div class="inner">
        <div class="header">
            <h1>My Skills</h1>
        </div>
        <div class="container">
            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/angular.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>Angular</h3>
                </div>
            </div>

            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/html.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>HTML</h3>
                </div>
            </div>

            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/css.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>CSS</h3>
                </div>
            </div>

            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/javascipt.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>JavaScript</h3>
                </div>
                
            </div>

            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/bootsrap.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>Bootstrap</h3>
                </div>
               
            </div>

            <div class="skill-box">
                <div class="skills-title">
                    <div class="img">
                        <img src="../assets/images/java2.jfif" alt="" class="skil-icon">
                    </div>
                    <h3>Java</h3>
                </div>
                
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>

</section>