.skills{
    background-color: #031540;
    margin-top: -65px;
}

.header{
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 35px;
}

.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap:1rem;
    padding: .5rem 40px;
    font-size: 1.2rem;
}

.skill-box{
    padding: .5rem;
    color: #ddd;
    cursor: pointer;
}

.skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skills-title h3:hover{
    color: #00abf0;
    cursor: pointer;
    text-underline-position: auto;
}

.skills-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
}

.skills-title h3{
    color:#fff;
}

.skill-icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}




