<app-navbar></app-navbar>

<section class="home">

    <div class="home-image">
        <img src="../assets/images/img10.jfif" alt="Profile image">
    </div>
    <div class="home-content">
        <br>
        <br>
        <br>
        <h1>Hi, I'm Vijaya Paunikar</h1>
        <br>
        <h3>Angular Developer</h3>
        <p>I'm a Web Developer. My expertise is to create an website design and Frontend design.
            Welcome to my web developer portfolio! I'm Vijaya, a skilled and creative web developer
            with a passion for creating beautiful, responsive, and user-friendly websites. I've worked 
            on a variety of web projects, ranging from personal websites to e-commerce platforms.
        </p>

        <div class="home-sci">
            <a href="https://www.linkedin.com/in/vijaya-paunikar-2634641b0/"><i class='bx bxl-linkedin' ></i></a>
            <a href="https://github.com/ShrutiPaunikar"><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-instagram' ></i></a>
            <a href=""><i class='bx bxl-facebook' ></i></a>
            <a href=""><i class='bx bxl-youtube' ></i></a>
        </div>

        <a href="https://drive.google.com/file/d/1KHpdXjGIPlxQmMTFNrBggXnjns2S55e4/view?usp=drive_link" class="btn">Download CV</a>
    </div>
</section>

<app-about></app-about>

<br>

<app-education></app-education>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contact></app-contact>

<app-footer></app-footer>