.home {
    height: 90vh;
    background: linear-gradient(-90deg, #031540 65%,#fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background:#031540;
    border-radius: 50%;
    border:25px solid white;
    outline: 25px solid #031540;
}

.home-image img{
    position: relative;
    bottom: 22px;
    max-width: 300px;
}

.home-content{
    margin-bottom: 80px;
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3{
    margin-top: -15px;
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

.home-content p{
    font-size: 16px;
    margin-top: 20px;
}

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

.home-sci a:hover{
    background-color: #00abf0;
    color:white;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color:#fff;
    text-decoration: none;
    font-weight:600;
    letter-spacing:1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}


